.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 14em;
    height: 14em;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
background-image: url('./Rolling.gif');}