.Auth{
    display:flex;
    flex-direction:column;
      align-items: center;
       border-left:20px solid #555;
       background-color:#dedede8f;
}

.Form{
  display:flex;
  flex-direction:column;
    align-items: center;
}

.Former{
  display:flex;
  flex-direction:column;
    align-items: center;
    filter: invert(0.8);
    color:black
}
